*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(https://images3.alphacoders.com/100/1006970.jpg);
	background-position:center;	
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top:45px;
	padding-left:8%;
	padding-right:8%;
}
.logo{
	color:black;
	font-size: 80px;
	letter-spacing: 1px;
    cursor: pointer;
}
span{
	color:#696969;
}
nav ul li{
	list-syle-type: none;
	display: inline-block;
	padding: 20px 25px;
}
nav ul li a{
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #FFFFFF;
    transition: .4s;
}
.btn{
	background-color:#000000;
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}
.btn.hover{
	transform:scale(1.2);
}
.info{
	background-color:#000000;
}
.info h1{
	color: #F0FFFF;
}
.about{
	width: 100%;
	padding: 100px 0px;
    background-image: url(https://wallpaperaccess.com/full/2981115.jpg);
    background-size: 1300px;
	background-repeat: repeat;
}
.about img{
	height: 550px;
	width: 650px;
}
.about-text{
	width: 500px;
}
.main{
	width: 1200px;
	max-width: 95%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: #696969;
	font-size: 70px;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.about-text h5{
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.about-text p{
	color: #808080;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 23px;
	text-transform: capitalize;
	margin-bottom: 45px;
}
button{	
    background-color:#FFFFFF;
	color: #000000;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 25px;
	transition: .4s;
}
button.hover{
	background-color: transparent;
	border: 2px solid #808080;
	cursor: pointer;
	margin-bottom: 50px
}
.mk h1{
	font-size: 100px;
	color: #F5FFFA;
	text-align: center;
	font-family: 'Padyakke Expanded One', cursive;
}
.mk h2{
	color: #F0FFFF;
	text-align: center;
	font-size: 50px;
}
.mk p{
    color: #FFFFFF;
	font-size: 25px;
	margin-bottom: 40px;
	text-align: center;
	padding-top:10px;
	padding-left:20%;
	padding-right:20%;
	
}
.about-img1 {
	height: auto;
	width: auto; 
    margin-bottom: 30px;
}
.about-img2 {
	height: auto;
	width: auto; 
}
.about-img3 {
	height: auto;
	width: auto; 
	margin-bottom: 35px;
}
.km{
	color: #000000;
}
.km p{
	color: #FFFFFF;
	background-color: #000000;
	font-size: 25px;
	text-align: center;
	padding-left:20%;
	padding-right:20%;
	line-height: 40px;
}
.icons{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #000000;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.list ul{
	background: #12192c;
	color: #FFFFFF;
	margin-top: 0;
	padding:0;
	list-style: none;
	font-size: 25px;
	line-height: 1.6;
	margin-bottom:0;
	display: flex;
    justify-content: center;
	
}
.list ul li a{
	color: inherit;
	text-doceration: none;
}
.list ul li{
	list-syle-type: none;
	display: inline-block;
	padding: 20px 25px;
}
